<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置系统本地的 Hibernate 配置文件 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:Hibernate/hibernate.cfg.xml"></property>

	</bean>


	<!--配置平台事物管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>

	</bean>

	<!-- 开启注解事务 -->

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!--配置customerAction 的类 -->
	<!-- 一定要设置成多例的 -->
	<bean id="customerAction" class="com.kekemile.action.CustomerAction"
		scope="prototype">
		<property name="customerService" ref="customerService"></property>
	</bean>
	<!-- 配置CustomerService -->
	<bean id="customerService" class="com.kekemile.service.impl.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"></property>
	</bean>

	<bean id="customerDao" class="com.kekemile.dao.impl.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


</beans>












